* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.fix {
  border-radius: 100px;
  height: 88px;
  width: 88px;
  object-fit: cover;
}

.home {
  padding: 3em 1em;
}

.hint {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 28px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  background-color: #EAECF0;
  padding: 15px 15px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  margin: 8px;
}

.inner {
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inner img {
  padding: 10px;
}

.ind {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
}

hr {
  margin-top: 50px;
}

.footer {
  margin-top: 5px;
  color: #667085;
  font-size: 10px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

nav {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  position: fixed;
  right: 0;
  padding-top: 1em;
  top: 0;
  height: 20vh;
  background: #fff;
  width: 30%;
  z-index: 999;
  text-transform: uppercase;
}
.menu {
  cursor: pointer;
}

.footer div {
  padding-top: 3em;
}

nav .close {
  font-size: 3rem;
  float: right;
  width: 1.1em;
  cursor: pointer;
}
.share{
  cursor: pointer;
}
.open-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.lap{
  margin-bottom: 2em;
  margin-top: 1em;
}

header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-top: 1em;
}

@media only screen and (min-width: 680px) {
  .hint {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }

  .footer div {
    margin: 0px;
  }

}

@media only screen and (min-width: 920px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: unset;
    display: flex;
    width: auto;
    /* margin-left: 6em; */
    height: auto;
    background: none;
    justify-content: space-between;
  }

  nav .close {
    display: none;
    width: 2em;
  }

  .home {
    padding: 3em 9em;
  }

  .hint {
    font-size: 18px;
    padding: 24px 32px;
  }

  .footer {
    font-size: 14px;
  }
}